@media(prefers-color-scheme:dark) {
    :root {
        --body: #313131;
        --dots: #ABABAB;
        --silver: #E3E3E3;
        --dark: #fff;
        --text: #fff;
        --buy: #313131;
    }

    .logo::after {
        content: url(../images/logo2.png);
    }

    .header_top {
        background-color: #0C0C0C;
    }

    .btn {
        border: 1px solid #E3E3E3;
    }

    .form-control {
        background-color: #313131;
    }

    .navbar-toggler.collapsed .menu {
        background-color: #fff;
    }

    .menu::after,
    .menu::before {
        background-color: #fff;
    }

    .cell__link {
        color: #313131;
    }
}

@media(max-width: 1250px) {
    .box_1 {
        background-image: url(../images/rebate1.png);
        grid-column: span 2;
        grid-row: span 2;
    }

    .box_2 {
        background-image: url(../images/rebate2.png);
        grid-column: span 2;
    }

    .box_3 {
        background-image: url(../images/rebate3.png);
    }

    .box_4 {
        background-image: url(../images/rebate4.png);
    }

    .cell {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 1200px) {
    .carousel-indicators {
        transform: translate(0);
        margin: 0 auto;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        max-width: 630px;
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .ps5 {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-left: 0;
    }

    .ps5__link {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .ps5__box2{
        transform: translateX(-20%);
    }
    .ps5__title{
        margin-top: 0;
    }
    .ps5__box1 {
        position: static;
    }
}

@media(max-width: 991px) {
    .navbar-nav {
        max-width: 390px;
        width: 100%;
    }

    .header__title {
        margin-top: 55px !important;
        margin-bottom: 65px !important;
    }

    .logo {
        margin-bottom: 0 !important;
    }
    .ps5{
        max-width: 1290px;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .carousel-indicators {
        gap: 15px;
    }

    .header__title {
        font-size: 40px;
        max-width: 450px;
        width: 100%;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
        height: 80%;
    }

    .grid__text {
        font-size: 16px;
        width: 45px;
        height: 45px;
    }

    .grid__title {
        font-size: 20px;
        line-height: 120%;
    }

    .grid__price {
        font-size: 20px;
    }

    .grid_box {
        padding: 10px;
        min-height: 170px;
    }

    .grid {
        gap: 20px;
    }

    .cell {
        gap: 10px;
    }

    .box_ {
        flex-direction: column;
        gap: 10px;
    }
    .ps5__text {
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .all-btn {
        width: 150px;
        height: 35px;
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .ps5{
        margin-top: 40px;
    }
    .all-title {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 32px;
    }

    .cell-phone__link,
    .grid__link {
        margin-top: 15px;
    }
    .ps5__box2 img {
        width: 500px;
    }
}

@media (max-width: 440px) {
    
    .header_toplist {
        flex-wrap: wrap;
        row-gap: 2px;
        height: 70px;
        align-items: center;
    }

    .header_toplink {
        line-height: 16px;
    }

    .navbar_nav {
        display: flex;
        column-gap: 30px;
    }

    .header_nav-info_list {
        row-gap: 5px;
    }

    .header__link {
        width: 120px;
        height: 35px;
        font-size: 15px;
    }

    .header__title {
        font-size: 32px;
        max-width: 350px;
        width: 100%;
    }

    .header__title {
        margin-top: 35px !important;
        margin-bottom: 40px !important;
    }

    .box_1 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .box_2 {
        grid-column: span 1;
    }

    .grid {
        margin-top: 30px;
    }

    .grid__text {
        font-size: 14px;
        width: 35px;
        height: 35px;
    }

    .grid__title {
        font-size: 17px;
        line-height: 120%;
    }

    .grid__price {
        font-size: 17px;
    }

    .grid_box {
        min-height: 190px;
    }

    .box_1 {
        height: 220px;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        max-width: 230px;
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
        height: 80%;
    }
    .ps5__text{
        font-size: 36px;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .ps5__title{
        width: 240px;
        height: 60px;
    }
}

@media (max-width: 400px) {
    .ps5__text{
        font-size: 30px;
    }
}
@media (max-width: 340px) {
    .header__title {
        font-size: 25px;
        max-width: 300px;
        width: 100%;
    }
    .cell-phone{
        padding: 0;
    }
    .cell__item {
        max-width: 270px;
        width: 100%;
        height: 310px;
    }

    .cell__title {
        font-size: 15px;
        text-align: center;
    }

    .cell__link {
        width: 80px;
        height: 25px;
    }

    .all-btn {
        width: 130px;
        height: 30px;
        font-size: 15px;
    }
  
    .laptop__item {
        min-width: 260px;
        width: 100%;
        height: 250px;
    }
    .ps5__title{
        width: 180px;
    }
    .ps5__text{
        font-size: 26px;
    }
    .ps5__box2 img {
        width: 350px;
    }
}