@media (max-width: 991px) {
    .container.header_bar {
        height: 135px;
    }
}
@media (max-width: 440px ) {
    .header_toplist{
        display: flex;
        flex-wrap: wrap;
        row-gap: 2px;
        height: 80px;
        text-align: center;
    }
.header_toplink{
line-height: 16px;    
}
.nabar_nav.ms-auto.mb-lg-0{
    display: flex;
    gap: 30px;
}
 
}