@import url(./fonts.css);

.root {
    --noto: 'Noto';
    --dark: #0C0C0C;
    --black: #313131;
    --body: #fff;
    --dots: #313131;
    --silver: #E3E3E3;
    --text: #313131;
    --buy: #fff;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

.container {
    max-width: 1290px;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.logo::after {
    content: url(../images/logo1.png);
}

body {
    background-color: var(--body);
}

.header_top {
    background-color: #313131;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header_lang {
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.header_toplist {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: end;
}

.nav-link {
    padding: 0;
    transition: 0.5s;
}

#navbarDropdown {
    color: #fff;
}

.nav-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
}

.dropdown-menu.show {
    background-color: #313131;
    position: absolute;
    z-index: 10;
    margin: 0;
    top: 49px;
}

.dropdown-item {
    color: #fff;
    background-color: #313131;
}


.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    transition: 1s;
    position: relative;
}

.header_toplink {
    color: #fff;
    font-size: 14px;
    line-height: 70px;
    text-decoration: none;
    transition: 0.5s;
}

.d-flex {
    max-width: 630px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    max-width: 190px;
    width: 100%;
    color: #fff;
    background-color: #313131;
    font-size: 14px;
    line-height: 19px;
    font-family: var(--noto);
    font-weight: 400;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    transition: 0.5s;
}

.form-control {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    max-width: 440px;
    width: 100%;
}

.navbar-toggler,
.navbar-toggler.collapsed {
    padding: 0;
}

.header_bar {
    display: flex;
    align-items: center;
}

.collapse {
    display: flex;
    flex-direction: column;
}

.header_nav-info_list {
    display: flex;
    row-gap: 10px;
    column-gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.header_nav-info_link {
    font-size: 18px;
    line-height: 16px;
    font-family: var(--noto);
    font-weight: 400;
    text-decoration: none;
    color: var(--text);
    transition: 0.5s;
}

.menu {
    width: 35px;
    height: 3px;
    position: relative;
    transition: 0.5s;
}

.menu::after,
.menu::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -10px;
    background-color: #313131;
    transition: 0.5s;
}

.menu::after {
    top: 10px;
}

.navbar-toggler {
    border: none;
    background-color: unset;
    height: 35px;
    display: flex;
    align-items: center;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler:not(.collapsed) .menu::after {
    transform: rotate(-45deg);
    top: 0;
}

.navbar-toggler:not(.collapsed) .menu::before {
    transform: rotate(45deg);
    top: 0;
}

.navbar-toggler.collapsed .menu {
    background-color: #313131;
}

.navbar-toggler.collapsed .d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
}

.intro {
    margin-top: 50px;
}

.header__title {
    font-family: var(--noto);
    font-weight: 600;
    font-size: 48px;
    color: var(--text);
    text-transform: capitalize;
    max-width: 580px;
    width: 100%;
    text-align: center;
    margin-top: 113px;
    margin-bottom: 121px;
}

.all-btn {
    font-family: var(--noto);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 190px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 0;
    background-color: #313131;
    color: #fff;
    transition: 0.5s;
}

.col-xl-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-indicators button {
    background-color: #ABABAB !important;
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
}

.carousel-indicators button.active {
    background-color: var(--dots) !important;
    transform: scale(1.2);
}

.carousel-indicators {
    position: static;
    margin: 0;
    gap: 30px;
    margin-top: -36px;
    transform: translate(50%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.grid_box {
    min-height: 235px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 20px 20px 15px;

}

.grid_box::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.grid__text {
    font-family: var(--noto);
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #313131;
}

.grid__info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 5px;
}

.grid__title {
    font-family: var(--noto);
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #313131;
}

.grid__price {
    font-family: var(--noto);
    font-weight: 300;
    font-size: 24px;
    color: #313131;
}

.box_1 {
    background-image: url(../images/rebate1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    grid-column: span 2;
    grid-row: span 2;
}

.box_2 {
    background-image: url(../images/rebate2.png);
    background-position: center;
    background-repeat: no-repeat;
    grid-column: span 2;
    background-size: contain;

}

.box_3 {
    background-image: url(../images/rebate3.png);
    background-position: center;
    background-repeat: no-repeat;

}

.box_4 {
    background-image: url(../images/rebate4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.grid__link {
    margin: 0 auto;
    margin-top: 30px;
}

/* grid end */
/* cell phone start */
.all-title {
    font-family: var(--noto);
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: var(--text);
    margin-top: 70px;
    margin-bottom: 30px;
}

.cell {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.box_ {
    display: flex;
    gap: 30px;
}

.cell__item {
    max-width: 300px;
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;
    z-index: 1;
    padding: 18px 15px;
    transition: .5s;
    background-color: var(--body);

}

.cell__icon {
    position: absolute;
    top: 15px;
    right: 15px;
    color: none;
    display: none;
    transition: .5s;
}

.cell__title {
    font-family: var(--noto);
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--text);
    margin-top: 5px;
}

.cell__text {
    font-family: var(--noto);
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--text);
}

.cell__link {
    width: 100px;
    height: 30px;
    font-family: var(--noto);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    border: none;
    transition: .5s;
    color: #fff;
    background-color: var(--body);
}

.cell__item:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    transition: .5s;

}

.cell__item:hover .cell__icon {
    color: var(--dark);
    display: block;
    transition: .5s;
}

.cell__item:hover .cell__link {
    background-color: #313131;
    border: 1px solid #fff;
    color: #fff;
}

.cell__item.item1 {
    background-image: url(../images/cell_img1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cell__item.item2 {
    background-image: url(../images/cell_img2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cell__item.item3 {
    background-image: url(../images/cell_img3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cell__item.item4 {
    background-image: url(../images/cell_img4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cell-phone__link {
    margin: 0 auto;
    margin-top: 30px;
}

/* cell phone end */
/* laptop start */
.laptop__item {
    min-width: 300px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

}

.laptop__item.item1 {
    background-image: url(../images/laptopimg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.laptop__item.item2 {
    background-image: url(../images/laptopimg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));

}

.laptop__item.item3 {
    background-image: url(../images/laptopimg3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.laptop__item.item4 {
    background-image: url(../images/laptopimg4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}


/* laptop end */
/* ps5 start */
.ps5 {
    margin-top: 70px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    max-width: 1290px;
    width: 100%;
    position: relative;
}

.ps5__box1 {
    position: absolute;
    top: 0;
    left: 0;
}

.ps5__title {
    margin-top: 95px;
}

.ps5__text {
    font-family: var(--noto);
    font-weight: 600;
    color: var(--text);
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 70px;
}

.ps5__link {
    margin-bottom: 130px;
}

/* ps5 end */
/* topseller start */
.topseller.item1 {
    background-image: url(../images/topseller_img1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.topseller.item2 {
    background-image: url(../images/topseller_img2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.topseller.item3 {
    background-image: url(../images/topseller_img3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.topseller.item4 {
    background-image: url(../images/topseller_img4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.topseller__link {
    margin: 0 auto;
    margin-top: 47px;
}

/* topseller end */
/* footer start  */

.footer__logo::after {
    content: url(../images/logo2.png);
}

.footer .container{
    display: flex;
    margin-top: 70px;
}

.footer__text {
    font-family: var(--noto);
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    line-height: 150%;
    margin-top: 30px;
}

.footer-control {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 330px;
 
}
.footer__list {
    margin-bottom: 45px;
}
.footer__link {
    text-decoration: none;
    font-family: var(--noto);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    transition: .5s;
}
.footer__info {
    margin: 0;
}
.footer__box {
    max-width: 520px;
    width: 100%;
}

.footer__icons {
    margin-left: 50px;
    margin-top: 65px;
}
.footer__icons span {
    font-size: 37px;
    color: #fff;

}
.footer__logo{
    margin-right: 143px;
}
.footer__btn{
    font-family: var(--noto);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}
/* .footer__form{
    max-width: 630px ;
    width: 100%;
} */
/* footer end */