@import url(./fonts.css);

.root {
    --noto: 'Noto';
    --dark: #0C0C0C;
    --black: #313131;
    --body: #fff;
    --dots: #ABABAB;
    --silver: #E3E3E3;
    --text: #313131;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

.container {
    max-width: 1290px;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.logo::after {
    content: url(../images/logo1.png);
}

body {
    background-color: var(--body);
}

.header_top {
    background-color: #313131;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header_lang {
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.header_toplist {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: end;
}

.nav-link {
    padding: 0;
    transition: 0.5s;
}

#navbarDropdown {
    color: #fff;
}

.nav-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
}

.dropdown-menu.show {
    background-color: #313131;
    position: absolute;
    z-index: 10;
    margin: 0;
    top: 49px;
}

.dropdown-item {
    color: #fff;
    background-color: #313131;
}


.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    transition: 1s;
    position: relative;
}

.header_toplink {
    color: #fff;
    font-size: 14px;
    line-height: 70px;
    text-decoration: none;
    transition: 0.5s;
}

.d-flex {
    max-width: 630px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    max-width: 190px;
    width: 100%;
    color: #fff;
    background-color: #313131;
    font-size: 14px;
    line-height: 19px;
    font-family: var(--noto);
    font-weight: 400;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    transition: 0.5s;
}

.form-control {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    max-width: 440px;
    width: 100%;
}

.navbar-toggler,
.navbar-toggler.collapsed {
    padding: 0;
}

.header_bar {
    display: flex;
    align-items: center;
}

.collapse {
    display: flex;
    flex-direction: column;
}

.header_nav-info_list {
    display: flex;
    row-gap: 10px;
    column-gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.header_nav-info_link {
    font-size: 18px;
    line-height: 16px;
    font-family: var(--noto);
    font-weight: 400;
    text-decoration: none;
    color: var(--text);
    transition: 0.5s;
}

.menu {
    width: 35px;
    height: 3px;
    position: relative;
    transition: 0.5s;
}

.menu::after,
.menu::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -10px;
    background-color: #313131;
    transition: 0.5s;
}

.menu::after {
    top: 10px;
}

.navbar-toggler {
    border: none;
    background-color: unset;
    height: 35px;
    display: flex;
    align-items: center;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler:not(.collapsed) .menu::after {
    transform: rotate(-45deg);
    top: 0;
}

.navbar-toggler:not(.collapsed) .menu::before {
    transform: rotate(45deg);
    top: 0;
}

.navbar-toggler.collapsed .menu {
    background-color: #313131;
}
.navbar-toggler.collapsed .d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item img {
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
}

.intro {
    margin-top: 50px;
}

.header__title {
    font-family: var(--noto);
    font-weight: 600;
    font-size: 48px;
    color: var(--text);
    text-transform: capitalize;
    max-width: 580px;
    width: 100%;
    text-align: center;
    margin-top: 113px;
    margin-bottom: 121px;
}

.header__link {
    font-family: var(--noto);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 190px;
    height: 50px;
    text-decoration: none;
    border-radius: 0;
    background-color: #313131;
    color: #fff;
    transition: 0.5s;
}

.col-xl-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-indicators button {
    background-color: #ABABAB !important;
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
}

.carousel-indicators button.active {
    background-color: #313131 !important;
    transform: scale(1.2);
}

.carousel-indicators {
    position: static;
    margin: 0;
    gap: 30px;
    margin-top: -36px;
    transform: translate(50%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 200px;
}

.grid_box {
    min-height: 235px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
}

.grid_box::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.grid__text {
    font-family: var(--noto);
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #313131;
}

.grid__info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 5px;
}

.grid__title {
    font-family: var(--noto);
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: var(--text);
}
.grid__price{
    font-family: var(--noto);
    font-weight: 300;
    font-size: 24px;
    color: var(--text);
}
.box_1 {
    background-image: url(../images/rebate1.png);
    grid-column: span 2;
    grid-row: span 2;
    padding: 20px 20px 15px;
}

.box_2 {
    background-image: url(../images/rebate2.png);
    grid-column: span 2;
    padding: 20px 20px 15px;
}

.box_3 {
    background-image: url(../images/rebate3.png);
    padding: 20px 20px 15px;
}

.box_4 {
    background-image: url(../images/rebate4.png);
    padding: 20px 20px 15px;
}

